argparse
django
faker
ffsubsync
inaSpeechSegmenter
jiwer
numpy
overrides==4.1.2
pyctcdecode==0.2.0
pynini
python-Levenshtein==0.12.2
scikit-learn
torch>=1.10.0
torchaudio>=0.10.0
transformers==4.17.0
sentencepiece
speechbrain==0.5.11
wave
webrtcvad
https://github.com/kpu/kenlm/archive/master.zip