allennlp==0.8.4
argparse
ffsubsync
inaSpeechSegmenter
jiwer
numpy==1.22.0
overrides==4.1.2
pyctcdecode==0.2.0
pynini
python-Levenshtein==0.12.1
scikit-learn==0.20.0
torch==1.13.1
torchaudio==0.10.0
transformers==4.15.0
sentencepiece
speechbrain==0.5.11
wave
webrtcvad
https://github.com/kpu/kenlm/archive/master.zip