allennlp==0.8.4
argparse
django
faker
ffsubsync
jiwer
numpy==1.19.5
overrides==4.1.2
pyctcdecode==0.2.0
pynini
python-Levenshtein==0.12.1
scikit-learn==0.20.0
torch==1.9.1
torchaudio==0.9.1
transformers==4.12.5
sentencepiece
wave
webrtcvad
https://github.com/kpu/kenlm/archive/master.zip